<div class="home_container">
    <div class="home_pageimg">
        <img src="" alt="" class="home_img1">
        <img src="" alt="" class="home_img2">
        <img src="" alt="" class="home_img3">
        <img src="" alt="" class="home_img4">
        <h1>4 BILDER HÄR</h1>
    </div>
</div>
