<div class="hotel_container">
    <div class="hotel_box">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
</div>