<div class="hotel_container">
    <div class="hotel_box1"></div>
    <div class="hotel_box2"></div>
    <div class="hotel_box3"></div>
    <div class="hotel_box4"></div>
    <div class="hotel_box5"></div>
    <div class="hotel_box6"></div>
    <div class="hotel_box7"></div>
    <div class="hotel_box8"></div>
    <div class="hotel_box9"></div>
</div>