<div class="hotel_container">
    <div class="hotel_box1">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box2">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box3">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box4">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box5">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box6">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box7">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box8">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
    <div class="hotel_box9">
        <a href="https://sv.hotels.com/" class="hotel_piclink"><img src="img/hotel_cropped_resized.png" alt=""></a>
        <h4 class="hotel_hotel">Breakwater plaza hotel</h4>
    </div>
</div>