<div class="index_container">
    <div class="index_pageimg">
        <img src="img/Uzbekistan_quadpic_v2.png" alt="" class="index_img1">
        <img src="" alt="" class="index_img2">
        <img src="" alt="" class="index_img3">
        <img src="" alt="" class="index_img4">
    </div>

    <div class="index_discover">
        <h1 class="index_discover_headline">Discover Uzbekistan!</h1>
        <p class="index_discover_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis lacus eu neque fermentum volutpat. Fusce ornare vel magna ac ultricies. Nunc ornare lacus est, maximus porttitor risus tincidunt in. Etiam bibendum tincidunt pretium. Nam sollicitudin ante dolor, id mollis nibh cursus a. Donec maximus mollis nulla, ac elementum turpis semper non. In egestas sapien a purus euismod, et pulvinar justo auctor. Aliquam sodales velit tincidunt felis sodales rutrum eget eget felis. Quisque aliquet neque at metus posuere, eu cursus mi rhoncus. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eu turpis tempus, posuere nisi ut, posuere diam. Aenean quis nibh ac felis tincidunt auctor. Nullam consectetur ut purus pellentesque venenatis. Donec blandit leo nec enim feugiat lacinia. Phasellus lorem eros, pharetra sit amet lectus vitae, efficitur blandit diam. Donec fermentum sem sed ante convallis rutrum. Duis viverra congue libero eget pharetra. Mauris tincidunt convallis quam ac egestas. Maecenas ac eros mauris. Suspendisse vitae justo dapibus, consectetur ante non, viverra tortor. Integer accumsan rutrum tortor eget pharetra. Praesent dictum, dui in scelerisque posuere, purus tortor luctus tellus, in lobortis ante nibh id lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean porta non urna feugiat hendrerit. Integer sed libero at lorem feugiat pellentesque et at mauris. Nulla porttitor a augue a sagittis. Maecenas eget mauris vitae lacus egestas vestibulum.</p>
    </div>
</div>
