<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Takilife</title>
    <link rel="stylesheet" href="css/site.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="js/layout_searchbar.js"></script>
    <script src="js/lay_destinations_menu.js"></script>
    <script src="js/lay_hotels_menu.js"></script>
    <script src="js/lay_tours_menu.js"></script>
</head>
<body>
    <header>
        <div class="lay_destinations" onmouseenter= "lay_destinations_appear()" onmouseleave= "lay_destinations_disappear()">
            <a href="LÄGG TILL LÄNK HÄR" >Destinations</a>
            <div class="lay_menu_d">pdapdkapdpadlwdåwldwådwldw</div>
        </div>
        <div class="lay_hotels"  onmouseenter= "lay_hotels_appear()" onmouseleave= "lay_hotels_disappear()">
            <a href="hotel.html">Hotels</a>
            <div class="lay_menu_h"></div>
        </div>
        <div class="lay_tours" onmouseenter= "lay_tours_appear()" onmouseleave= "lay_tours_disappear()">
            <a href="tours.html">Tours</a>
            <div class="lay_menu_t"></div>
        </div>

        <div class="lay_flag">
            <img src="img/Flag_of_Uzbekistan.svg" alt="">
        </div>

        <div class="lay_headline">
            <h1> <a href="index.html" class="lay_headline_link">Uzbekistan Tourism</a> </h1>
        </div>



        <div class="lay_searchbar">
            <input class="lay_searchbar_input" placeholder="Search" type="text">
            <i class="material-icons" onclick="lay_searchbar_appear()">&#xE8B6;</i> 
        </div>
    </header>

    </div>
    <main>
        <%= yield %>
    </main>
    <footer>
        <h3 class="lay_footer_url">visituzbekistan.uz</h3>
        <h3 class="lay_footer_copyright">© 2018 All rights reserved</h3>
    </footer>
</body>
</html>