<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/site.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <header>
        <div class="lay_destinations">
            <a href="LÄGG TILL LÄNK HÄR">Destinations</a>
        </div>
        <div class="lay_hotels">
            <a href="LÄGG TILL LÄNK HÄR">Hotels</a>
        </div>
        <div class="lay_tours">
            <a href="LÄGG TILL LÄNK HÄR">Tours</a>
        </div>

        <div class="lay_flag">
            <img src="img/Flag_of_Uzbekistan.svg" alt="">
        </div>

        <div class="lay_headline">
            <h1>Uzbekistan tourism</h1>
        </div>

        <div class="lay_searchbar">
            <input placeholder="Search" type="text">
            <i class="material-icons">&#xE8B6;</i>
        </div>
    </header>
    <div class="container">
        <main>
            <%= yield %>
        </main>
    </div>
    <footer>
        <h3 class="lay_footer_url">visituzbekistan.uz</h3>
        <h3 class="lay_footer_copyright">© 2018 All rights reserved</h3>
    </footer>
</body>
</html>