<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <header>
        <div class="lay_destinations">
            <a href="LÄGG TILL LÄNK HÄR">Destinations</a>
        </div>
        <div class="lay_hotels">
            <a href="LÄGG TILL LÄNK HÄR">Hotels</a>
        </div>
        <div class="lay_tours">
            <a href="LÄGG TILL LÄNK HÄR">Tours</a>
        </div>
    </header>
    <div class="container">
        <main>
            <%= yield %>
        </main>
    </div>
</body>
</html>