<div class="tours_container">
    <div class="tours_attraction">
        photoshoppad bild här tack
    </div>

    <div class="tours_links">
        länkar med overflow: auto här tack
    </div>

    <div class="tours_map">
        karta här tack
    </div>

    <div class="tours_trans">
        tåg här tack
    </div>

    <div class="tours_trans">
        flygplan här tack
    </div>

    <div class="tours_trans">
        bil här tack
    </div>

    <div class="tours_trans">
        luftballong här tack
    </div>
</div>