body {
    background: url(../img/background_desert.jpg);
}

header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 150px;
    background-color: rgba(140,140,140,0.7);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.lay_destinations {
    grid-row: 2/3;
    grid-column: 4/5;
    margin: auto;
}

.lay_hotels {
    grid-row: 2/3;
    grid-column: 5/6;
    margin: auto;
}

.lay_destinations>a, .lay_hotels>a, .lay_tours>a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    transition: 0.25s;
    text-decoration: none;
    text-align: center;
}

.lay_destinations>a:hover, .lay_hotels>a:hover, .lay_tours>a:hover {
    color: red;
    transition: 0.25s;
}

.lay_tours {
    grid-row: 2/3;
    grid-column: 6/7;
    margin: auto;
}

.lay_flag {
    grid-row: 1/3;
    grid-column: 1/2;
    margin: auto;
    margin-left: 10px;
    margin-bottom: 10px;
}

.lay_flag>img {
    height: 70px;
    width: 140px;
}

.lay_headline {
    grid-row: 1/2;
    grid-column: 1/3;

    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.lay_headline_link {
    color: white;
    text-decoration: none;
}

.lay_searchbar {
    grid-row: 1/2;
    grid-column: 6/7;
    margin: auto;
}

.lay_searchbar>input {
    width: 0px;
    visibility: hidden;
    height: 0px;
    transition: all 0.5s;
}

/* .lay_searchbar>input:hover{ */
    /* width: 180px; */
    /* transition: 0.5s; */
/* } */

.lay_searchbar>i:hover {
    color: red;
    font-size: 32px;
    transition: 0.25s;
    text-align: right;
}

.lay_searchbar>i {
    font-size: 30px;
    color: white;
    transition: 0.25s;
    margin-right: 20px;
}

.lay_menu_d {
    height: 0px;
    width: 140px;
    background-color: rgba(140, 140, 140, 0.7);
    position: absolute;
    z-index: 10;
    transition: 0.5s;
    overflow: hidden;
}

.lay_menu_h {
    height: 0px;
    width: 140px;
    background-color: rgba(140, 140, 140, 0.7);
    position: absolute;
    z-index: 10;
    transition: 0.5s;
    overflow: hidden;
}

.lay_menu_t {
    height: 0px;
    width: 140px;
    background-color: rgba(140, 140, 140, 0.7);
    position: absolute;
    z-index: 10;
    transition: 0.5s;
    overflow: hidden;
}



footer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 75px;
    background-color: rgba(140,140,140,0.7);
}

footer>h3 {
    margin-left: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.index_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 10px;
    margin-bottom: 10px;
}

.index_pageimg {
    margin-top: 30px;
    grid-row: 1/3;
    grid-column: 1/3;
}

.index_pageimg>img {
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(140, 140, 140);
}


.index_discover {
    grid-row: 1/5;
    grid-column: 3/5;
    background-color: rgba(140,140,140,0.7);
}



.index_discover_headline {
    text-align: center;
    color: white;
    font-size: 45px;
}

.index_discover>p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    text-align: center;

}

.index_footer_left {
    background-color: rgba(140,140,140,0.7);
    grid-column: span 1;
}

.index_footer_left>img {
    margin-bottom: 0px;
    margin-top: 25px;
}

.index_footer_centerleft {
    grid-column: span 1;
    background-color: rgba(140,140,140,0.7);
}

.index_footer_centerleft>h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 45px;
}

.hotel_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgba(140, 140, 140, 0.7);
    margin-top: 10px;
}

.hotel_box1, .hotel_box2, .hotel_box3, .hotel_box4, .hotel_box5, .hotel_box6, .hotel_box7, .hotel_box8, .hotel_box9 {
    height: 300px;
    display: grid;
}

.hotel_piclink {
    margin: auto;
}

.hotel_box1>a>img, .hotel_box2>a>img, .hotel_box3>a>img, .hotel_box4>a>img, .hotel_box5>a>img, .hotel_box6>a>img, .hotel_box7>a>img, .hotel_box8>a>img, .hotel_box9>a>img {
    margin: auto;
    margin-top: 10px;
    border: solid 2px rgb(140,140,140);
    transition: 0.25s;
}

.hotel_box1>a>img:hover, .hotel_box2>a>img:hover, .hotel_box3>a>img:hover, .hotel_box4>a>img:hover, .hotel_box5>a>img:hover, .hotel_box6>a>img:hover, .hotel_box7>a>img:hover, .hotel_box8>a>img:hover, .hotel_box9>a>img:hover {
    /* border: solid red 3px; */
    transition: 0.25s;
    transform: scale(1.1)
}

h4.hotel_hotel {
    color: white;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}


.hotel_box1 { 
    grid-row: span 1;
    grid-column: span 1;
}

.hotel_box2 { 
    grid-row: span 1;
    grid-column: span 1;
}

.hotel_box3 { 
    grid-row: span 1;
    grid-column: span 1;
}

.hotel_box4 { 
    grid-row: span 1;
    grid-column: span 1;
}

.hotel_box5 { 
    grid-row: span 1;
    grid-column: span 1;
}

.hotel_box6 { 
    grid-row: span 1;
    grid-column: span 1;
}

.hotel_box7 { 
    grid-row: span 1;
    grid-column: span 1;
}

.hotel_box8 { 
    grid-row: span 1;
    grid-column: span 1;
}

.hotel_box9 { 
    grid-row: span 1;
    grid-column: span 1;
}


.tours_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 10px;
    margin-bottom: 10px;
}

.tours_attraction {
    grid-column: span 2;
    grid-row: span 1;
    background-color: yellow;
}

.tours_links {
    grid-column: span 2;
    grid-row: 2/3;
    background-color: blue;
}

.tours_map {
    grid-column: span 2;
    grid-row: span 2;
    background-color: green;
}

.tours_trans {
    grid-row: span 1;
    grid-column: span 1;
    background-color: red;
}